name: Build and deploy to staging

on:
  push:
    branches:
      - main

permissions:
      id-token: write
      contents: read

jobs:
  build-and-deploy:
#    env:
#      PORT: 8000
#      API_KEY: ${{ secrets.API_KEY }}
#      AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
#      AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
#      AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
#      CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}

    runs-on: ubuntu-latest
    environment: staging

    steps:

    - name: Checkout GitHub Actions
      uses: actions/checkout@main


    - name: Login via Azure CLI
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ocrappregistry.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}


    - name: Build and push container image to registry
      uses: docker/build-push-action@v6
      with:
        tags: ocrappregistry.azurecr.io/ocr-data-extraction-api:${{ github.sha }}
        secrets: |
          api_key: ${{ secrets.API_KEY }}
          azure_storage_account: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
          azure_storage_account_key: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
          azure_storage_connection_string: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
          container_name: ${{ secrets.CONTAINER_NAME }}
#      run: |
#        docker build . -t ocrappregistry.azurecr.io/ocr-data-extraction-api:${{ github.sha }}
#        docker push ocrappregistry.azurecr.io/ocr-data-extraction-api:${{ github.sha }}
        

    - name: Deploy to App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'ocr-data-extraction-api'
        images: 'ocrappregistry.azurecr.io/ocr-data-extraction-api:${{ github.sha }}'



    - name: Azure logout
      run: |
        az logout
